<h1>My blog posts</h1>

<% @users.each do |user| %>
  <% user.posts.each do |post| %>
    <%= post.title %>
    <p><%= post.body %></p>
    <p>Author: <b><%= post.user.email %></b></p> 
   
    <hr>
  <% end %>
<% end %>



